main {
  display: grid;
  grid-template-rows: 60px 1fr;
  row-gap: var(--s-md-e);
  height: 100%;
}

aside.notes-container {
  height: calc(100vh - 2rem);
}

aside.notes-container,
header {
  background-color: var(--primary);
  padding: var(--s-md-e);
}

.textarea {
  border: none;
  color: var(--text);
  padding: var(--s-md-e);
  background-color: var(--textarea);
  resize: none;
  outline: none;
  cursor: text;
  box-shadow: 0px 0px 3px var(--textarea);
  border-radius: var(--border-r-md);
}

button.toggle,
.pane {
  display: none;
}

@media (max-width: 700px) {
  .pane {
    position: absolute;
    content: "";
    background-color: var(--bg-color);
    animation: bg 0.6s ease;
    opacity: 0.7;
    width: 100%;
    height: 100%;
  }

  @keyframes bg {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.7;
    }
  }

  @keyframes bg-reverse {
    to {
      opacity: 0;
    }
  }

  header.tools {
    display: grid;
    grid-template-columns: 1fr 28px;
    box-shadow: 0px 2px 3px var(--primary);
  }

  button.toggle {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 1;
    padding: 0;
    border: none;
    background: none;
  }

  button.toggle:after,
  button.toggle:before {
    content: "";
    width: var(--btn-w-md);
    height: var(--btn-line-h);
    background-color: var(--btn-line-color);
    /* transform-origin: center; */
    transition: transform 0.6s ease;
  }

  button.toggle[show="true"]:before {
    transform: translateY(200%) rotate(45deg);
  }

  button.toggle[show="true"]:after {
    transform: translateY(-200%) rotate(-45deg);
  }

  aside.notes-container {
    position: absolute;
    display: none;
    animation: left-right 0.6s ease;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    max-width: 350px;
  }

  @keyframes left-right {
    from {
      left: -100%;
    }
    to {
      left: 0;
    }
  }

  @keyframes right-left {
    to {
      left: -100%;
    }
  }

  .textarea {
    margin: 0 var(--s-md-e);
  }
}

@media (min-width: 700px) {
  aside.notes-container {
    grid-column: 1 / span 1;
    display: grid !important;
    margin: var(--s-md-e) 0 var(--s-md-e) var(--s-md-e);
  }

  aside.notes-container,
  header.tools {
    box-shadow: 0px 0px 3px var(--primary);
    border-radius: var(--border-r-md);
  }

  main {
    grid-column: 2 / -1;
    padding: var(--s-md-e);
  }
}
