.notes-container {
  grid-template-rows: 28px 40px 1fr;
  grid-template-areas:
    "general-tools"
    "search"
    "notes-list";
  gap: 1em;
}

.notes-container > header.general-tools {
  grid-area: general-tools;
  display: grid;
  grid-template-columns: 28px 28px;
  grid-template-areas: "new-note change-theme";
  justify-content: space-between;
}

button.change-theme {
  border: none;
  grid-area: change-theme;
  background-color: var(--corner);
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  transition: background-color 0.5s ease-in;
  box-shadow: 2px 2px 5px var(--corner); /* when is dark */

  /* box-shadow: -3px -3px 3px var(--sun); when is light */
}

button.change-theme > .sun {
  transform: translate(-25%, -25%);
  width: 28px;
  height: 28px;
  transition: background-color 0.5s ease-in, transform;
  background-color: var(--primary);
  border-radius: 50%;
}

button.add-new-note {
  grid-area: new-note;
  background-color: burlywood;
}

button.add-new-note {
  cursor: pointer;
  width: var(--btn-w-md);
  height: var(--btn-h-md);
  background: none;
  position: relative;
  padding: 0;
  border: none;
}

button.add-new-note:before,
button.add-new-note:after {
  position: absolute;
  content: "";
}

button.add-new-note:before {
  /* vertical rule*/
  right: calc(50% - (var(--btn-line-h) / 2));
  top: 0;
  bottom: 0;
  border-right: var(--btn-line-h) solid var(--btn-line-color);
}

button.add-new-note:after {
  /* horizontal rule*/
  left: 0;
  right: 0;
  bottom: calc(50% - (var(--btn-line-h) / 2));
  border-bottom: var(--btn-line-h) solid var(--btn-line-color);
}

button.add-new-note:hover:before {
  transform: scaleX(1.5);
}

button.add-new-note:hover:after {
  transform: scaleY(1.5);
}

/** searchbox **/

form.searchbox {
  grid-area: search;
  background-color: var(--textarea);
  display: grid;
  grid-template-columns: 1fr 40px;
}

input.search-placeholder {
  background-color: transparent;
  outline: none;
  border: none;
  padding-left: 0.9em;
  color: var(--text);
  opacity: 0.7;
}

button.search-submit {
  cursor: pointer;
  border: none;
  position: relative;
  background-color: transparent;
  padding: 0;
  transition: background-color 0.3s;
}

button.search-submit:hover {
  background-color: var(--btn-bg-opc);
}

button.search-submit:before {
  position: absolute;
  content: "";
  top: 8px;
  right: 8px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: var(--btn-line-h) solid var(--btn-line-color);
}

button.search-submit:after {
  position: absolute;
  content: "";
  width: 12px;
  bottom: 8px;
  left: 8px;
  transform-origin: 2px;
  transform: rotate(-45deg);
  border-bottom: var(--btn-line-h) solid var(--btn-line-color);
}

/* notes list */

section.notes-list {
  grid-area: notes-list;
  overflow-y: auto;
}

article.note-item:not(:last-of-type) {
  margin-bottom: 1.2em;
}

article.note-item {
  min-height: 100px;
  max-height: 200px;
  cursor: pointer;
  display: grid;
  grid-template-rows: 0.3rem auto 1fr;
  grid-template-columns: 0.6em 1fr 40px 0.6em;
  animation: show-note-item 0.4s ease-in-out;
  transition: opacity 0.2s ease;
  position: relative;
}

article.note-item:hover {
  opacity: 0.7;
}

@keyframes show-note-item {
  from {
    transform-origin: left;
    transform: scaleX(0);
  }
  to {
    transform-origin: left;
    transform: scaleX(1);
  }
}

article.note-item > .top-border {
  transition: background-color 0.6s ease-in-out;
  grid-area: 1 / 2 / 2 / -2;
  border-radius: var(--border-r-sm);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  /* display: none; */
}

article.note-item > .note-body {
  background-color: var(--textarea);
  grid-area: 2 / 2 / 4 / -2;
  border-bottom-left-radius: var(--border-r-md);
}

article.note-item > .created-date {
  grid-area: 2 / 2 / 3 / -2;
  z-index: 1;
  padding: 4px 8px;
  text-align: right;
  opacity: 0.7;
  font-size: small;
}

article.note-item > p {
  grid-area: 3 / 2 / 4 / -3;
  z-index: 1;
  padding: 0.5em 1em;
  word-wrap: wrap;
}

article.note-item > .corner {
  grid-area: 3 / 3 / span 1 / span 1;
  height: 40px;
  align-self: end;
  z-index: 1;
  overflow: hidden;
  position: relative;
  background-color: var(--primary);
  border-top-left-radius: var(--border-r-l);
}

article.note-item > .corner:before {
  position: absolute;
  content: "";
  height: 50px;
  width: 72px;
  background-color: var(--corner);
  /* transform-origin: 50px 23px; */
  transform-origin: -8px 52px;
  transform: rotate(-45deg);
}

.remove_note {
  position: absolute;
  display: none;
  font-size: large;
  bottom: 46px;
  right: 20px;
  transition: transform 0.3s;
}

article.note-item:hover > .remove_note {
  display: block;
}
.remove_note:hover {
  transform: scale(1.3);
}

/* text tools */

header.tools {
  display: grid;
  background-color: var(--primary);
  grid-template-columns: 1fr 28px;
  box-shadow: 0px 2px 3px var(--primary);
  padding: 0 var(--s-md-e);
}

.text-tools {
  display: grid;
  grid-template-columns: repeat(3, 30px) 50px 30px;
  grid-template-rows: auto 30px auto;
  gap: 0.3em;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.bold,
.italic,
.underline {
  text-transform: capitalize;
}

.bold,
.italic,
.underline,
.line-through,
.list-btn {
  font-size: 1.3em;
  color: var(--btn-line-color);
}

.bold:hover,
.italic:hover,
.underline:hover,
.line-through:hover,
.list-btn:hover,
.bold[is-active="true"],
.italic[is-active="true"],
.underline[is-active="true"],
.line-through[is-active="true"],
.list-btn[is-active="true"] {
  background-color: var(--btn-bg-opc);
}

.bold {
  font-weight: 700;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.italic {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.underline {
  text-decoration: underline;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.line-through {
  text-decoration: line-through;
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.list-btn {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
  display: grid;
  grid-template-rows: repeat(3, auto);
  padding: 4px;
}

.list-btn > * {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.list-btn > div:before,
.list-btn > div:after {
  content: "";
  background-color: var(--btn-line-color);
}

.list-btn > div:before {
  width: calc(var(--btn-line-h) * 2);
  height: calc(var(--btn-line-h) * 2);
  border-radius: 50%;
}

.list-btn > div:after {
  width: 11px;
  height: var(--btn-line-h);
}

.textarea {
  border-top: 0.3rem solid var(--textarea);
  transition: border-top-color 0.6s ease-in-out;
  padding-bottom: calc(1em + 40px);
  overflow-y: auto;
}

main {
  position: relative;
}

button.pallet {
  width: 40px;
  height: 40px;
  z-index: 1;
  position: absolute;
  bottom: 1em;
  right: 1em;
  border-radius: 50%;
  background-color: rgb(102, 168, 37);
  box-shadow: 0px 0px 6px rgba(41, 41, 41, 0.56);
  transition: background-color 0.6s ease-in-out, opacity 0.4s;
}

button.pallet:hover {
  opacity: 0.8;
}
