:root {
  /* colors */
  --primary: #222222;
  --textarea: #333333;
  --corner: #5c5c5c;
  --bg-color: #3f3f3f;
  --text: #ffffff;
  --btn-line-color: #858585;
  /* sizes */
  --border-r-md: 5px;
  --btn-line-h: 2px;
  --btn-w-md: 28px;
  --btn-h-md: 28px;
  /* spacing */
  --s-md-e: 1em;
  --s-md-r: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--text);
}

@media (min-width: 700px) {
  body {
    display: grid;
    grid-template-columns: minmax(auto, 350px) 1fr;
  }
}
